/* Центруємо весь сайт по тілу сторінки */

body {
    margin: 0;          /* прибрати стандартні відступи браузера */
    max-width: 1200px;  /* ширина сайту */
    margin-left: auto;  /* центрування */
    margin-right: auto; /* центрування */
}
