.layout {
    display: flex;
    min-height: 100vh;

    /* робимо сайт центровим блоком */
    width: 1100px;      /* фіксована ширина контейнера, як у головного сайту */
    margin: 0 auto;     /* центрування по горизонталі */
}

.main {
    flex: 1;
    padding: 40px;

    /* щоб текст не лип до правого краю */
    max-width: 800px;
}
